@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Contatos</h2>

<h4>Endereço</h4>

<address>
    Mata Escura<br />
    Salvador, Bahia,  41.225.330<br />
    @*<abbr title="Phone">(71)8112-1299</abbr>*@  
</address>

<address>
    <strong>E-mail: </strong><a href="mailto:jeanmota@hotmail.com">jeanmota@hotmail.com</a><br />
    @*<strong>Marketing:</strong><a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    <strong>Telefone: </strong>(71)8112-1299
</address>